// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$input-focus-border-color: #368D68;
$input-focus-box-shadow: 0 0 0 0.2rem rgba(186, 205, 197, 0.25);