.img-thumbnail {
    width: 100px;
}

.resize {
    width: 50px;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.image-text-container img {
    margin-right: 10px;
    /* Adjust this value to control the space between the image and text */
}