
.truncate-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
    color: inherit;
}
